*{
    margin: 0;
    padding: 0;
  }
  body{
      background-color: hsl(216, 12%, 8%);
    overflow: hidden;
  }
  .container{
    height: 400px;
    width: 400px;
   background-color: hsl(213, 19%, 18%); 
    margin: auto;
    top: 160px;
    border-radius: 30px;
    position: relative;
    
  }
  .star_img{
  position: absolute;
    height: 50px;
    width: 50px;
   background-color: hsl(216, 12%, 22%);
    top: 30px;
    left:30px;
    border-radius:50px;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  /* img{
    position: absolute;
  } */
  #head1{
    font-family: 'Overpass', sans-serif;
      font-weight: 700;
    position: absolute;
    top: 90px;
      color: white;
    margin: 20px 30px 20px;
    
  }
  #para1{  font-family: 'Overpass', sans-serif;
      font-weight: 400;
    position: absolute;
    top: 140px;
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    margin: 20px 30px 20px;
  
  }
  #btn{
    font-family: 'Overpass', sans-serif;
    position: relative;
    top: 240px;
    left: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
        gap: 20px;
  }
  .btn{
    height: 50px;
      width: 50px;
      background-color: hsl(216, 12%, 22%);
      color: hsl(217, 12%, 63%);
      border-radius: 25px;
      border-style: none;
  }
  .btn:hover{
      cursor: pointer;
      background-color: hsl(25, 97%, 53%);
      color: white;
  }
  
  .btn:focus {
      background-color: hsl(217, 12%, 63%);
      color: white;
  }
  #submit{
     position: absolute;
      font-family: 'Overpass', sans-serif;
      font-size: 15px;
      left: 30px;
      top: 320px;
      padding: 15px 133px;
      border-radius: 30px;
      border-style: none;
      background-color: hsl(25, 97%, 53%);
      color: white;
      letter-spacing: 2px;
  }
  #submit:hover{
      cursor: pointer;
      background-color: white;
      color: hsl(25, 97%, 53%);
  }
  
  
  /*page-2 */
  .container2{
    position: relative;
    height: 400px;
    width: 400px;
    margin: auto;
    top: 160px;
    border-radius: 30px;
     background-color: hsl(213, 19%, 18%); 
    overflow: hidden;
  }
  .tnq_img{
    position: absolute;
    top: 40px;
    left: 110px;
  }
  .select {
    position: absolute;
    top: 180px;
    left: 100px;
      font-family: 'Overpass', sans-serif;
      font-weight: 400;
      color: hsl(25, 97%, 53%);
    height: 30px;
      width: 200px;
    border-radius: 20px;
      background-color: hsl(216, 12%, 22%);
     display: flex;
    justify-content: center;
    text-align: center;
  }
  .select p{
    padding-top: 5px;
  }
  
  .tnq{
    position: absolute;
    top:220px;
    left:85px;
     font-family: 'Overpass', sans-serif;
      font-weight: 700;
      color: white;
      margin: 20px 30px;
  
  }
  .para2{
    font-family: 'Overpass', sans-serif;
      font-weight: 400;
      position: absolute;
    top:270px;
    color: hsl(217, 12%, 63%);
      text-align: center;
      margin: 20px 32px;
      font-size: 15px;
    
  }